.login-section {
  padding-top: 1rem;
  display: grid;
  place-content: center;

  .container-login {
    width: 25rem;
    height: 38rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    margin-top: 8.5rem;

    h1 {
      font-size: 2rem;
      font-weight: 400;
    }

    p {
      .li {
        list-style: none;
        font-weight: bold;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: start;

      label {
        margin-bottom: 0.5rem;
      }

      input {
        width: 100%;
        height: 3rem;
        padding: 1rem;
        border: 1px solid lightgray;
        border-radius: 5px;
        margin-bottom: 1rem;
      }
    }

    .instructions {
      color: gray;
      font-size: 0.8rem;
    }

    button {
      font-size: 1rem;
      padding: 1rem;
      border-radius: 50px;
      border: none;
      outline: none;
      background: #ff596f;
      color: #fff;
      cursor: pointer;
    }
  }
}
